# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Zookeeper with Java/*
!/Zookeeper with Java/task/
/Zookeeper with Java/task/*
!/Zookeeper with Java/task/src

# Project exclude paths
/Topics/Calling methods/Area of parallelogram/out/
/Topics/Calling methods/Area of parallelogram/out/production/classes/
/Topics/Formatted output/The battle for Mathematics/out/
/Topics/Formatted output/The battle for Mathematics/out/production/classes/
/Topics/Text blocks/Mad SQL query/out/
/Topics/Text blocks/Mad SQL query/out/production/classes/
/Topics/While and do-while loops/The sum of elements/out/
/Topics/While and do-while loops/The sum of elements/out/production/classes/